h1{
  text-align: center;
  font-family: 'Dancing Script', cursive;
}
button {
  transform-style: preserve-3d;
}


.art{
  margin:auto;
}
td{
  background-color: black;
  height: 300px;
  width: 150px;
  border: 6px solid white;
}
#one{
  background-color: #FFBE0B
}
#two{
  background-color: #FB5607
}
#three{
  background-color: #FF006E
}
#four{
  background-color: #8338EC
}
#five{
  background-color: #3A86FF
}
